/* Import base styles for tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typically used for custom properties */
:root {
  --foreground-rgb: 0, 0, 0;
}

/* Detect dark mode and adjust properties */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}
